@font-face {
  font-family: "iconfont"; /* Project id 2989130 */
  src: url('iconfont.woff2?t=1638701407205') format('woff2'),
       url('iconfont.woff?t=1638701407205') format('woff'),
       url('iconfont.ttf?t=1638701407205') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liulanliang:before {
  content: "\e603";
}

